body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/icomoon/fonts/icomoon.eot") format('eot'), url("fonts/icomoon/fonts/icomoon.ttf") format('truetype'), url("fonts/icomoon/fonts/icomoon.woff") format('woff'), url("fonts/icomoon/fonts/icomoon.svg") format('svg');
}
html,
body {
  height: 100%;
}
body {
  background: #fff;
  font: 14px Arial, Helvetica, sans-serif, "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  color: #333;
}
.article-entry h3 {
  border-left: solid 3px #f00;
  padding-left: 4px;
  margin-left: 11px !important;
}
#rocket {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: block;
  visibility: hidden;
  width: 26px;
  height: 48px;
  background: url("images/rocket.png") no-repeat 50% 0;
  opacity: 0;
  -webkit-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -webkit-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -ms-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -ms-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
@media screen and (max-width: 479px) {
  #rocket {
    right: 12px;
    bottom: 20px;
  }
}
#rocket #rocket i {
  display: block;
  margin-top: 48px;
  height: 14px;
  background: url("images/rocket.png") no-repeat 50% -48px;
  opacity: 0.5;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
#rocket:hover {
  background-position: 50% -62px;
}
#rocket:hover i {
  background-position: 50% 100%;
  -webkit-animation: flaming 0.7s infinite;
  -moz-animation: flaming 0.7s infinite;
  -webkit-animation: flaming 0.7s infinite;
  -moz-animation: flaming 0.7s infinite;
  -ms-animation: flaming 0.7s infinite;
  animation: flaming 0.7s infinite;
}
#rocket.show {
  visibility: visible;
  opacity: 1;
}
#rocket.launch {
  background-position: 50% -62px;
  opacity: 0;
  -webkit-transform: translateY(-500px);
  -moz-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  -webkit-transform: translateY(-500px);
  -moz-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  transform: translateY(-500px);
  pointer-events: none;
}
#rocket.launch i {
  background-position: 50% 100%;
  -webkit-transform: scale(1.4, 3.2);
  -moz-transform: scale(1.4, 3.2);
  -webkit-transform: scale(1.4, 3.2);
  -moz-transform: scale(1.4, 3.2);
  -ms-transform: scale(1.4, 3.2);
  transform: scale(1.4, 3.2);
}
.inner {
  display: inline;
  float: left;
  width: 98.0392156862745%;
  margin: 0 0.980392156862745%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background: #fff;
}
.mobile-nav-on #wrap {
  left: 280px;
}
@media screen and (min-width: 768px) {
  #main {
    display: inline;
    float: left;
    width: 64.70588235294117%;
    margin: 0 0.980392156862745%;
  }
}
.archive-year,
.archive-tag,
.archive-category,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  font-weight: bold;
}
.article-inner {
  background: #fff;
  border: 1px solid #eef1f8;
  border-radius: 3px;
}
.article-inner-night {
  background: #1d1e1f;
}
.article-entry h1,
.widget h1 {
  font-size: 25px;
}
.article-entry h2,
.widget h2 {
  font-size: 23px;
}
.article-entry h3,
.widget h3 {
  font-size: 20px;
}
.article-entry h4,
.widget h4 {
  font-size: 17px;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
.article-entry hr,
.widget hr {
  border: 1px dashed #eef1f8;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: circle;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
.article {
  color: #333;
  margin: 0 0 40px 0;
}
@media screen and (max-width: 479px) {
  .article {
    width: 100% !important;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .article {
    width: 100% !important;
  }
}
.article-inner {
  overflow: hidden;
  border: 0px solid #eef1f8;
}
.article-inner-night {
  overflow: hidden;
  border: 0px solid #eef1f8;
}
.article-meta {
  margin: 0px 0 0px;
  color: #a6a6a6;
  text-align: center;
  font-family: Arial;
  font-size: 0.9em;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-meta a {
  color: #a6a6a6;
  font-weight: 300;
  text-transform: uppercase;
}
.article-meta span:before {
  margin: 0 0 0 8px;
  padding: 0 6px 0 0;
  content: "/";
  color: #d6d6d6;
}
.article-date {
  color: #999;
  text-align: center;
  font-weight: normal;
}
.article-date:hover {
  color: #1fa0ae;
}
.article-category {
  text-align: center;
  line-height: 1em;
  color: #ccc;
  margin-left: 8px;
}
.article-category:before {
  content: "\2022";
}
.article-category-link {
  display: inline;
  margin: 0;
}
.ico-folder:before {
  font-family: "FontAwesome";
  content: "\f07c";
  color: #333;
}
.article-category-link:hover {
  color: #1fa0ae;
}
.article-header h1 {
  margin: 0 0 3px 0;
  font-size: 1.6em;
  line-height: 1.2;
  font-weight: bold;
}
.article-header h1 a {
  color: #333;
  text-decoration: none;
}
.article-title {
  font-family: Helvetica, Arial, "游ゴシック", "Yu Gothic";
  text-decoration: none;
  font-weight: bold;
  color: #555;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #1fa0ae;
  text-decoration: none;
}
.article-entry {
  color: #261e1c;
  padding: 0;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p {
  color: #333;
  font-family: Helvetica, Arial, "游ゴシック", "Yu Gothic";
  padding: 0px 10px 0px;
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
  font-family: Helvetica, Arial, "游ゴシック", "Yu Gothic";
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
  font-family: Arial, Helvetica, "游ゴシック", "Yu Gothic";
}
.article-entry a {
  color: color-link;
  text-decoration: none;
}
.article-entry a:hover {
  color: #1fa0ae;
  text-decoration: none;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border: 1.5px solid #eef1f8;
  padding: 0.5em 20px 0.5em;
}
.article-entry td {
  border: 1px solid #eef1f8;
  padding: 0.5em 20px 0.5em;
}
.article-entry blockquote {
  padding: 0.1px 20px;
  font-size: 1.1em;
  margin: 1.4em 0px;
  border-left: 0;
  background: #f3f5f9;
}
.article-entry blockquote:before {
  float: left;
  font-family: 'Font Awesome 5 Free';
  content: "\e977";
  margin-left: -0.8em;
}
.article-entry blockquote:after {
  float: right;
  font-family: 'Font Awesome 5 Free';
  content: "\e978";
  margin-right: -0.8em;
  margin-top: -1.5em;
}
.article-entry blockquote p {
  font-size: 14px;
}
.article-entry blockquote footer {
  font-size: 14px;
  margin: 1.6em 0;
  font-family: -apple-system, "Arial", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica", sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  background: transparent;
  border-left: 0px;
  padding: 10px 25px;
  margin: 18px 0;
  font-style: italic;
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote p {
  font-family: Georgia, Microsoft JhengHei, "Arial";
  font-size: 19px;
}
.article-entry .pullquote:before {
  float: left;
  font-family: "FontAwesome";
  content: "\f10d";
  margin-left: -0.5em;
}
.article-entry .pullquote:after {
  float: right;
  font-family: "FontAwesome";
  content: "\f10e";
  margin-right: -0.5em;
  margin-top: -1em;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link {
  text-align: center;
}
.article-more-link a {
  color: #1fa0ae;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1em;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.article-more-link a:hover {
  color: #333;
  text-decoration: none;
}
.article-footer {
  font-size: 0.85em;
  line-height: 1.6em;
  border-top: 1px solid #e6e6e6;
  padding-top: 1.6em;
  margin: 0 20px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #333;
}
.article-tag-list {
  display: inline-block;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.ico-tags:before {
  font-family: "FontAwesome";
  content: "\f02c";
  color: #333;
  margin-left: 20px !important;
}
.article-tag-list-item {
  display: inline-block;
  margin-right: 8px;
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #eef1f8;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #333;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px -apple-system, "Arial", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica", sans-serif;
  padding: 0 15px;
  color: #333;
  outline: none;
  border: 1px solid #eef1f8;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #fff;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: color-twitter;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: color-facebook;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: color-pinterest;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: color-google;
}
.article-gallery {
  background: #000;
  position: relative;
  margin-bottom: 40px;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.toc-article {
  border-left: rgba(88,88,88,0.1) 1px solid;
  padding: 1em 0 0 1em;
  margin-left: 1em;
  font-family: Helvetica;
}
.toc-title {
  font-size: 100%;
}
.toc-title:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f0ca";
  margin-right: 0.5em;
}
#toc {
  line-height: 1em;
  font-size: 0.9em;
  float: left;
  overflow: hidden;
}
@media screen and (max-width: 479px) {
  #toc {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #toc {
    display: none;
  }
}
.toc-fixed {
  position: fixed;
  width: inherit !important;
  top: 0px;
  margin-top: 0;
  overflow: hidden;
  z-index: 1;
}
.nav {
  padding: 0;
  margin-top: 1em;
  line-height: 1.8em;
}
.nav li a:hover,
.nav list-style-type none a:hover {
  background-color: transparent !important;
}
.nav .active > a {
  color: #333;
}
.nav-link {
  font-family: 'Helvetica', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
  color: color-link;
  padding: 1px !important;
}
.nav-link:hover {
  color: #333;
}
.nav-text {
  font-family: Arial;
  font-size: 14px;
}
.nav-child {
  margin-left: 1em;
}
#comments {
  padding: 20px;
  margin: 50px 0;
}
#comments a {
  color: color-link;
}
.archives-wrap {
  margin: 50px 0;
}
.archives {
  margin-left: 2em;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
}
.archive-year-wrap h1 {
  font-size: 1.5em;
}
.archive-year {
  color: #333;
}
.archive-year:before {
  font-family: "FontAwesome";
  content: "\f273";
  margin-right: 0.2em;
}
.archives-tags-wrap blockquote {
  padding: 1em;
  margin: 1em 0 0 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  text-align: center;
  border-left: 0px solid #1fa0ae;
  background: rgba(208,211,248,0.15);
}
.archives-tags-wrap blockquote a {
  color: #333;
  margin: 0.2em;
}
.archives-tags-wrap blockquote a:hover {
  color: #1fa0ae;
}
.archive-tag {
  text-transform: none;
  color: #333;
}
.archive-tag:before {
  font-family: "FontAwesome";
  content: "\f02c";
  margin-right: 0.2em;
}
.archives-category-wrap {
  margin: 1em 0;
}
.archives-category-wrap blockquote {
  padding: 1em;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.7em;
  color: #1fa0ae;
  text-align: left;
  border-left: 0px solid #1fa0ae;
  background: rgba(208,211,248,0.15);
}
.archives-category-wrap blockquote a {
  color: #333;
  margin: 0.2em;
}
.archives-category-wrap blockquote a:hover {
  color: #1fa0ae;
}
.archives-category-wrap blockquote a:before {
  font-family: "FontAwesome";
  content: "\f0da";
  margin-right: 0.5em;
}
.archive-category {
  text-transform: none;
  color: #333;
}
.archive-category:before {
  font-family: "FontAwesome";
  content: "\f07c";
  margin-right: 0.3em;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .archives {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media screen and (min-width: 768px) {
  .archives {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 0px;
  margin-bottom: 0px;
}
.archive-article-title {
  font-size: 1.05em;
  text-decoration: none;
  color: #333;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
  border-left: 1px solid #333;
  padding-left: 15px;
}
.archive-article-title:hover {
  color: #1fa0ae;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  min-width: 85px;
  float: left;
  color: #999;
  text-decoration: none;
  line-height: 1.6em;
  margin-right: 15px;
  display: block;
  font-size: 1.1em;
  font-family: 'Helvetica', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
}
.archive-article-date:hover {
  color: #1fa0ae;
}
#page-nav {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 50px auto;
  background: #fff;
  border: 1px solid #eef1f8;
  border-radius: 3px;
  text-align: center;
  color: #999;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #1fa0ae;
  color: #fff;
}
#page-nav .prev {
  color: #fff;
  background: #333;
  float: left;
}
#page-nav .prev:before {
  font-family: "FontAwesome";
  content: "\f053";
  margin-right: 0.5em;
}
#page-nav .next {
  color: #fff;
  background: #333;
  float: right;
}
#page-nav .next:after {
  font-family: "FontAwesome";
  content: "\f054";
  margin-left: 0.5em;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #333;
  font-weight: bold;
}
#page-nav .space {
  color: #eef1f8;
}
.article-entry pre,
.article-entry .highlight {
  background: #364549;
  margin: 20px 0px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #eef1f8;
  border-width: 1px 0;
  overflow: auto;
  color: #e3e3e3;
  font-size: inherit;
  line-height: 26px;
}
@media screen and (max-width: 750px) {
  .article-entry pre,
  .article-entry .highlight {
    line-height: 17px;
    white-space: pre-wrap;
  }
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
figure.highlight::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
figure.highlight::-webkit-scrollbar-thumb {
/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
  background: #bdbdbd;
}
figure.highlight::-webkit-scrollbar-track {
/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
  border-radius: 0;
  background: #f2f2f2;
}
.article-entry pre,
.article-entry code {
  font-family: Consolas, Menlo, Source Code Pro;
}
.article-entry code {
  color: #333;
  padding: 0.1em 0.4em;
  font-size: 14px;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #9dabae;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.article-entry .highlight .gutter pre {
  color: #aaa;
  text-align: right;
  padding-right: 15px;
}
.article-entry .highlight .line {
  height: 1.7em;
  line-height: 1.7em;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #eef1f8;
  border-width: 1px 0;
  background: #364549;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #364549;
  color: #9dabae;
  font: 0.85em -apple-system, "Arial", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment {
  color: #9dabae;
}
pre .title,
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function {
  color: #8bdf4c;
}
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword {
  color: #ebd247;
}
pre .javascript .function {
  color: #c9c;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #191919;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
.ins-search {
  display: none;
}
.ins-search.show {
  display: block;
}
.ins-selectable {
  cursor: pointer;
}
.ins-search-mask,
.ins-search-container {
  position: fixed;
}
.close-search:before {
  font-family: 'FontAwesome';
  content: '\f046';
  font-weight: 900;
  font-size: 23px;
}
.ins-search-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.5);
}
.ins-input-wrapper {
  position: relative;
}
.ins-search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 200;
  border-radius: 0;
  background: #fff;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 28px 12px 20px;
  border-bottom: 1px solid #e2e2e2;
  font-family: "Microsoft Yahei Light", "Microsoft Yahei", Helvetica, Arial, sans-serif;
}
.ins-close {
  top: 30%;
  right: 16px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  margin-top: -11px;
  position: absolute;
  text-align: center;
  display: inline-block;
}
.ins-close:hover {
  color: #333;
}
.ins-search-container {
  left: 50%;
  top: 100px;
  z-index: 101;
  bottom: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 540px;
  margin-left: -270px;
  border-top: 2px solid #1fa0ae;
}
@media screen and (max-width: 559px), screen and (max-height: 479px) {
  .ins-search-container {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f7f7f7;
  }
}
.ins-section-wrapper {
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  overflow-y: auto;
  position: absolute;
}
.ins-section-container {
  position: relative;
  background: #f7f7f7;
}
.ins-section {
  font-size: 14px;
  line-height: 16px;
}
.ins-section .ins-section-header,
.ins-section .ins-search-item {
  padding: 8px 15px;
}
.ins-section .ins-section-header {
  color: #9a9a9a;
  border-bottom: 1px solid #e2e2e2;
}
.ins-section .ins-slug {
  margin-left: 5px;
  color: #9a9a9a;
}
.ins-section .ins-slug:before {
  content: '(';
}
.ins-section .ins-slug:after {
  content: ')';
}
.ins-section .ins-search-item header,
.ins-section .ins-search-item .ins-search-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ins-section .ins-search-item header {
  font-size: 17px;
  font-family: Arial;
}
.ins-section .ins-search-item .ins-search-preview {
  height: 15px;
  font-size: 12px;
  color: #9a9a9a;
  margin: 5px 0 0 20px;
}
.ins-section .ins-search-item:hover,
.ins-section .ins-search-item.active {
  color: #fff;
  background: #333;
}
.ins-section .ins-search-item:hover .ins-slug,
.ins-section .ins-search-item.active .ins-slug,
.ins-section .ins-search-item:hover .ins-search-preview,
.ins-section .ins-search-item.active .ins-search-preview {
  color: #fff;
}
#sidebar {
  padding-left: 12px;
}
@media screen and (min-width: 768px) {
  #sidebar {
    display: inline;
    float: left;
    width: 31.372549019607842%;
    margin: 0 0.980392156862745%;
    width: 23%;
  }
}
@media screen and (max-width: 479px) {
  #sidebar {
    display: none;
  }
}
.widget-wrap {
  margin: 30px 0;
}
.widget-title {
  letter-spacing: 0px;
  color: #222;
}
.widget {
  color: #777;
  background: transparent;
  padding: 15px 0 0;
  border-top: 1px solid #333;
}
.widget a {
  color: #555;
  text-decoration: none;
}
.widget a:hover {
  color: #1fa0ae;
  text-decoration: none;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget_athemes_tabs .widget {
  border-width: 0;
}
.widget_athemes_tabs .widget ul {
  background: transparent;
  border-bottom: 1px solid #333;
}
.widget_athemes_tabs .widget ul li {
  margin: 0 0 15px;
}
.widget_athemes_tabs .widget ul li a {
  margin: 0;
  font-size: 1em;
  line-height: 1.2;
  color: #df3a01;
  font-family: Oswald, "Microsoft Yahei", Arial, Helvetica, sans-serif;
}
.widget_athemes_tabs .widget ul li a:hover {
  color: #1fa0ae;
}
.widget-social-icons li {
  float: left;
  margin: 5px 10px 5px 0;
  text-align: center;
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #999;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
.scroll-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fafafa;
  opacity: 0;
  -webkit-transition: all 0.65s;
  -moz-transition: all 0.65s;
  -ms-transition: all 0.65s;
  transition: all 0.65s;
  font-size: 23px;
  font-weight: 700;
  white-space: nowrap;
  font-style: normal;
}
@media screen and (max-width: 980px) {
  .scroll-header {
    display: none;
  }
}
.progress-container {
  width: 100%;
  height: 5px;
  background: #ccc;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.65s;
  -moz-transition: all 0.65s;
  -ms-transition: all 0.65s;
  transition: all 0.65s;
  font-size: 23px;
  font-weight: 700;
  white-space: nowrap;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .progress-container {
    display: none;
  }
}
.progress-container.isActive {
  opacity: 1;
  -webkit-transition: all 0.65s;
  -moz-transition: all 0.65s;
  -ms-transition: all 0.65s;
  transition: all 0.65s;
}
.progress-bar {
  height: 5px;
  background: #1e79a7 !important;
  width: 0%;
}
.code-copy-btn {
  padding: 0px 6px !important;
  font-size: 10px;
  border-radius: 50%;
  float: right;
}
@media screen and (max-width: 479px) {
  .code-copy-btn {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .code-copy-btn {
    display: none;
  }
}
.navi {
  pointer-events: true;
}
.highlight,
.code,
.line {
  word-break: break-all;
}
.highlight table tr td line {
  font-size: 14px;
}
.highlight table {
  table-layout: fixed;
  width: 300px;
}
.highlight table tr,
td,
pre,
span {
  word-wrap: break-word;
}
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
#pc {
  display: block !important;
}
#sp {
  display: none !important;
}
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 980px) {
  #pc {
    display: none !important;
  }
  #sp {
    display: block !important;
  }
}
/* 吹き出し本体 */
#keugoi {
  margin-top: 10px;
  border-radius: 20px;
  position: relative;
  background-color: #fe2e64;
  width: 100%;
}
/* アイコンを下に表示 */
#keugoi::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 20px;
  bottom: -10px;
  border-top: 15px solid #fd3c2f;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
#keugoi span {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
}
@media screen and (max-width: 980px) {
  #keugoi span {
    font-size: inherit;
  }
}
#keugoi img {
  float: right;
  width: 35%;
  margin: 6px;
}
@media screen and (max-width: 980px) {
  #keugoi img {
    width: 100%;
    margin: 0px 0px 0px;
  }
}
.box {
  display: inline-block;
  width: 45%;
  margin: 10px 10px 10px;
  background: smoke;
  -webkit-box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
}
@media screen and (max-width: 980px) {
  .box {
    min-width: 290px;
  }
}
.box h1,
a {
  text-algin: center;
}
.sample_box {
  overflow: hidden;
}
.sample_box img {
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  transition: 1s all;
  width: 180px;
  height: 180px;
}
.sample_box img:hover {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  transition: 1s all;
}
.index_img_box {
  width: 200px;
  height: 150px;
}
.index_img_box img {
  float: left;
  max-width: 100%;
  max-height: 100%;
}
.noibat {
  margin: 20px 10px 0px;
  pading: 20px 10px 0px;
  width: 100%;
}
.hight_light_bar {
  font-size: 24px;
  border-bottom: 3px solid #e2001b;
  font-weight: bold;
}
.topbox {
  width: 40%;
  height: 30%;
  display: inline-block;
}
@media screen and (max-width: 980px) {
  .topbox {
    min-width: 290px;
  }
}
#articleInner {
  -webkit-box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
}
h4 {
  background-color: #fbeff2;
  border-left: #ffa500 solid 3px;
  padding-left: 5px;
}
.site-title {
  float: left;
  border: none;
}
@media screen and (max-width: 980px) {
  .site-title {
    float: none !important;
  }
}
.main-navigation {
  float: right;
  border: none;
}
@media screen and (max-width: 980px) {
  .main-navigation {
    float: none !important;
    border: solid #333;
    border-width: 1px 0 3px;
  }
}
#catemokuji {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #fcfcfc;
  padding: 1em 1em 1em 3em;
  border: solid 2px #808080;
  margin-bottom: 20px;
  font-family: 'Helvetica', 'Arial', 'Consolas', '游ゴシック', 'Hiragino Sans', 'Helvetica', 'メイリオ', 'sans-serif';
}
#catemokuji div.catebox {
  width: 45%;
}
#catemokuji li {
  font-size: 15px;
  padding: 5px 0;
}
@media only screen and (max-width: 1130px) {
  #catemokuji div.catebox {
    width: 100%;
  }
}
.outer {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 400px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -60px;
}
/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 30px;
  background-color: #fff;
}
.icon-bar a:hover {
  border-radius: 50%;
  border: solid #fa8258 1px;
}
/* Style the social media icons with color, if you want 
.icon-bar a:hover {

  background-color: #000;
  //border-radius: 50%;  
  //border: solid #FA8258 1px;
  //color: #1e79a7 !important;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.heart {
  background: red;
  color: white;
}

.comment {
  background: #bb0000;
  color: white;
}
*/
icon-bar-2 {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-bar-2 a {
  display: inline;
  text-align: center;
  padding: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 35px;
}
#relative-bar {
  position: fixed;
  top: 500px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -300px;
}
#relativepost {
  height: 280px;
  overflow-y: auto;
}
#relativepost h3 {
  font-size: 14px;
  font-family: Arial;
  margin: 20px 10px 20px;
  text-decoration: none;
  font-weight: normal;
}
.widget_athemes_tabs {
  max-height: 400px;
  overflow-y: scroll;
}
.dropbtn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0 20px;
  color: #333;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Helvetica;
  text-decoration: none;
  text-transform: uppercase;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  border: none;
  background: none;
}
.nav {
  height: 470px;
  overflow: auto;
  width: 300px;
}
.popular-posts-title h3 {
  font-size: 15px;
}
.category-list-link a {
  color: #df3a01 !important;
}
.widget .category-list .category-list-item {
  color: #008000 !important;
}
.widget .category-list .category-list-item ul li::marker {
  color: #f00;
  font-size: 1em;
}
.article-entry ul li::marker {
  color: #e12866;
}
.category-list-item .current_page_item a {
  color: #ff6347 !important;
  font-weight: bold;
}
.gsc-input-box,
.gsc-search-button {
  height: 40px !important;
}
#___gcse_0 {
  width: 300px !important;
}
@media screen and (max-width: 980px) {
  #___gcse_0 {
    width: 100% !important;
  }
}
.gsc-search-button-v2 {
  font-size: 0 !important;
  padding: 6px 27px !important;
  height: 30px !important;
  vertical-align: middle !important;
}
#recent_posts_down .active {
  list-style-type: none;
}
/*
.popular-posts
  display: block;
.relative_img
  width: auto;
  height: 50px;
  display: block;


  top: 50%;
  left: 50%;
.popular-posts-item
  display: block;
*/
.popular-posts-title a {
  color: #e43426 !important;
  font-weight: 300;
}
.popular-posts-title a:hover {
  color: #1fa0ae !important;
}
.popular-posts-title h3 {
  border: none;
}
.dinhnghia {
  -webkit-box-shadow: rgba(50,50,93,0.25) 0px 30px 60px -12px, rgba(0,0,0,0.3) 0px 18px 36px -18px !important;
  box-shadow: rgba(50,50,93,0.25) 0px 30px 60px -12px, rgba(0,0,0,0.3) 0px 18px 36px -18px !important;
  border: solid 3px #f79f81 !important;
  background-color: #fbf2ef !important;
  border-radius: 10px;
}
.dinhnghia p {
  line-height: 2;
}
.highlight {
  border-radius: 6px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
  box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
}
.widget_athemes_tabs {
  max-height: 400px;
  width: 300px;
  overflow-y: scroll;
}
#recent_posts_down .widget_athemes_tabs {
  width: 100% !important;
}
#recent_posts_down .widget-tab-nav li.active a {
  width: 100% !important;
}
.widget-tab-nav li.active a {
  width: 275px;
}
#adv_book ul li {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 10px 20px 10px;
}
#book {
  height: 500px;
  overflow: auto;
  width: 300px;
  margin-top: 10px;
}
#book a img {
  width: 169px;
  height: 300px;
  margin: 5px 5px 5px;
}
.mgbox {
  height: 500px !important;
  overflow: hidden !important;
}
.widget-wrap {
  width: 300px;
}
